@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, poppins, serif;
}
@font-face {
  font-family: Qualy;
  src: url(./assets/fonts/Qualy.ttf);
}

:root {
  --prim-white: #fff;
  --prim-dark: #1b1b1b;
  --prim-white2: #f3f4f7;
  --prim-dark2: #292929;
  --dark-grey-600: #2a2a2a;
  --dark-grey-400: #999;
  --sec-lightblue: #5da4dd;
  --sec-lightblue-300: #bee2ff;
  --sec-lightblue-200: #e7f4ff;
  --sec-lightblue-100: #d7edff;
  --grey: #e6e6e6;
  --prim-grey: #fdfdfd;
  --red-500: #ff000080;
}

/* #primary-dark: #1b1b1b
  prim-dark2: #0d0d0d 
  prim-white: #f3f4f7
  prim-dark2: #0d0d0d 
  #5d9dd1
  */

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background: #fdfdfd; */
  gap: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.logo {
  font-family: Qualy;
  width: 100%;
  font-size: 1.3rem;
}
.bg-img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
}
.bg-img img {
  width: 100%;
}
.wrapper-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  min-height: 550px;
}
.heading{
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--prim-dark2);
  transition: .5s;
}
.heading-text span {
  background: var(--prim-dark2);
  color: #fff;
  padding: 0 10px;
}
.errMsg {
  font-size: 14px;
  color: #ff000080;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
  text-align: center;
}
.error-triangle{
  font-size: 60px;
  margin: 30px 0;
}
.loader {
  position: relative;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.loader img {
  position: absolute;
}
.loader p {
  font-size: 0.9rem;
  color: #292929;
  text-align: center;
}
.info{
  padding: 5px 0; 
  font-size: 0.75rem; 
  color: var(--dark-grey-400); 
  /* background: #e7f4ff; */
  border-radius: 10px;
  text-align: center;
  width: auto;
}
.wrapper .wrapper-parent {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-top: 20px;
}
.wrapper-parent .inner {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
}
.wrapper-parent .inner form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  gap: 30px;
}
.inner form .row-2 {
  width: 100%;
  height: auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.inner form .row-2 input {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: #fff;
  outline: 1px solid var(--grey);
  padding: 10px;
  color: #2a2a2a;
}
.inner form .row-2 input:focus {
  outline: 1px solid #bee2ff;
}
.wrapper-parent .inner form .row-1 {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.wrapper-parent .inner form .row-1 .col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
  max-width: 400px;
  height: auto;
}
.wrapper-parent .inner form .row-1 .col .currencyChange{
  color: var(--dark-grey-600);
  margin-left: 5px;
}
.wrapper-parent .inner form .row-1 .col .select-box {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 100%;
  font-weight: bold;
  /* background: var(--sec-lightblue-100); */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.select-box .text span {
  font-size: 0.7rem;
  color: var(--sec-lightblue);
}
.select-box h4, .select-box .angle-icon {
  color: #646464;
}
.select-box:hover h4, .select-box:hover .angle-icon {
  color: var(--prim-dark2);
}
.select-box .dropdown {
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  top: 60px;
  left: 0;
  z-index: 10;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
}
 .select-box .dropdown::-webkit-scrollbar-track{
  background: #fff;
  border-radius: 10px;
  cursor: default;
 }
 .select-box .dropdown::-webkit-scrollbar{
  width: 6px;
 }
 .select-box .dropdown::-webkit-scrollbar-thumb{
  background: #A8A8A8;
  border-radius: 10px;
  cursor: default;
 }
 /* .select-box .dropdown::-webkit-scrollbar-thumb{
  background: #c2c1c1;
  border-radius: 0px;
 } */
.dropdown .search-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 10px;
  border-bottom: 1px solid var(--prim-white2);
}
.dropdown .search-box input{
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px;
  border: none;
}
.select-box .dropdown p {
  width: 100%;
  padding: 2px 10px;
  font-size: 14px;
  color: #999;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-box .dropdown p span:first-child{
  color: #292929;
}
.select-box .dropdown p:hover{
  background: #fdfdfd;
  color: #292929;
}
.exchange-icon {
  color: #999;
  width: 20px;
}
.exchange-icon svg {
  width: 100%;
}
.wrapper-parent .inner form .row-1 .col .select-box:hover {
  background: #d7edff;
  border-bottom: 1px solid #bee2ff;
}
.inner form .row-3{
  padding: 10px 25px;
  background: #2a2a2a;
  border-radius: 10px;
}
.inner form .row-3 h1 {
  color: #5da4dd;
  pointer-events: none;
  user-select: none;
  font-size: 20px;
  text-align: center;
}

footer {
  position: relative;
  padding: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

@media screen and (max-width: 965px) {
  .wrapper-parent .inner form .row-1{
    flex-direction: column;
  }
  .errMsg{
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  .heading-text{
    text-align: left;
  }
}